html,
body {
    height: 100%;    
}

body {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

form, .modal, .navbar {
    background-color: white;
}

ol li{
    padding: 1rem;
}


.form-signin {
    max-width: 430px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
}

.bd-callout-info {
    --bd-callout-bg: rgba(var(--bs-info-rgb), .075);
    --bd-callout-border: rgba(var(--bs-info-rgb), .5);
}

.bd-callout {
    text-align: left;
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

p {
    text-align: left;
    padding-left: 8px;
}

textarea {
    width: 95%;
    height: 300px;
}

#btJson, #btPost {
    font-size: 1.4rem;
}

.input-group input {
    border: 1px solid #212529 !important;
}

#invoiceFilter {
    border: 1px solid #ced4da !important;
}

.doc-item-ep {
    text-align: center;
}

.bg-img {
    background-image: url("../img/sample-invoice.png");
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

.bg-img-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 600px;
}


.bg-img-text > p {
    background-color: rgb(17, 17, 17, 0.7);
    padding: 10px;
    color: white;
}

.nav-link {
    border-radius: 18px !important;
    background-color: #ddd !important;
    width: 140px;
    text-align: center;
}

.nav-link.active {
    background-color: #1e2129 !important;
    color: #fff !important;
}

p{
    max-width: 950px;
}

li {
    max-width: 900px;
}

.navbar {
    margin-top: -1rem;
}